@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-font: "Urbanist", "sans-serif";
}

body {
    margin: 0;
    padding: 0;
    background-color: #eff2f5;
    font-family: var(--primary-font);
}

.title h2::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 45px;
    background-color: rgb(21, 21, 21);
    left: -20px;
}

.swiper-button-prev {
    padding: 25px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next {
    padding: 25px;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.linkMore {
    letter-spacing: 0.1em;
}

.btnCart {
    letter-spacing: 0.1em;
    background: none;
    border-color: rgb(21, 21, 21);
}

.btnCheckout {
    letter-spacing: 0.1em;
    color: white;
    background-color: rgb(21, 21, 21);
    border-color: rgb(21, 21, 21);
}

.btnChanges {
    letter-spacing: 0.1em;
    color: white;
    background-color: #585c5e;
    border-color: #585c5e;
}

.text-justify {
    text-align: justify !important;
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

.timeline > li:before {
    content: " ";
    background: #585c5e;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #585c5e;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.spanCount {
    border: 2px;
    border-color: rgb(21, 21, 21);
}

.font-services {
    font-size: 20px;
}

.title-category {
    font-size: 17px;
    font-weight: 500;
}

.icon-testi {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    object-fit: cover;
}

.btn-signup:hover {
    color: #fff;
    background-color: #585c5e;
}

.btn-changes {
    width: 50%;
}

.font-how-pay {
    font-size: 1.2rem;
}

.normal-price {
    font-size: 1.2rem;
}

.member-price {
    font-size: 1.5rem;
}

/* .logoBCA {
    max-width: 64px;
    max-height: 40px;
} */

.footer-contact {
    font-size: 10px;
}

.google-icon {
    width: 30px;
}

.main-signin {
    min-height: 65vh;
}

.hr-menu {
    width: 90%;
}

.count-transaction {
    font-size: 50px;
}

.nav-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.profile-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* .btn-file {
    border: 2px solid #ccc;
    color: #333;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
} */

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.responsive-img {
    width: 70%;
    height: auto;
}

/* if more than 768 */
/* @media (min-width: ≥768px) {
    .responsive-font-example {
        font-size: 80px;
    }
} */

/* If the screen size is smaller than 768px */
@media (max-width: 768px) {
    .font-services {
        font-size: 0.7rem;
    }

    .title-category {
        font-size: 1.1rem;
    }

    .normal-price {
        font-size: 1.2rem;
    }

    .member-price {
        font-size: 1.5rem;
    }

    .count-transaction {
        font-size: 40px;
    }

    .responsive-img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .font-services {
        font-size: 0.5rem;
    }

    .title-category {
        font-size: 0.7rem;
    }

    .btn-changes {
        width: 75%;
    }

    .font-how-pay {
        font-size: 1rem;
    }

    .normal-price {
        font-size: 1rem;
    }

    .member-price {
        font-size: 1.3rem;
    }

    .responsive-img {
        width: 100%;
    }
}
